<form ng-submit="save()">
  <p>
    <input type="text" name="title" id="note_title" ng-model="note.title" placeholder="Title your note">
  </p>
  <p>
    <textarea
      name="body_html"
      placeholder="Just start typing..." ng-model="note.body_html"></textarea>
  </p>
  <div class="form-actions">
    <span ng-if="note.id">
      <input type="submit" name="commit" value="Edit" class="btn btn-default">
    </span>
    <span ng-if="!note.id">
      <input type="submit" name="commit" value="Save" class="btn btn-default">
    </span>


  </div>
</form>
